@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@layer Reset{
    body, html{
        width: 100%;
        display: block;
        height: 100px;

        box-sizing: border-box;
        margin: 0;
        padding: 0;

        background-color: var(--black);
    }
    *{
        scroll-behavior: smooth;
    }
}
@layer Variables{
    :root{
        --nadpis: "Bebas Neue";
        --podnadpis: "Montserrat";
        --text: Helvetica;

        --black: #171717;
        --yellow: #F6EB14;
        --white: #F5F5F5;
    }
}
@layer Navigation{
    header{
        display: block;
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        background-color: black;
    }
    .nav_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 90%;
        height: 100%;
    }
    .logo{
        width: 20%;
        height: 100%;
    }
    .logo figure{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;
    }
    .logo figure img{
        height: 45%;
    }
    .logo a::before{
        display: none;
        visibility: 0;
    }
    .nav_list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 60%;
        height: 100%;

        list-style-type: none;
    }
    .nav_list a{
        color: var(--white);

        font-family: var(--podnadpis);
        font-weight: bold;

        text-decoration: none;

        transition: all .5s;

        position: relative;

        transition: all .3s;
    }
    .nav_list a:before, 
    .menu_box a:before{
        content: '';
        background: var(--yellow);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all .5s ease-in-out;
    }
    .nav_list a:hover::before,
    .menu_box a:hover::before{
        width: 100%;
    }
    .burger{
        display: none;
    }
    @media screen and (max-width: 700px){
        .nav_list{
            display: none;  
        }
        .burger{
            display: block;
            width: 5%;
            height: 100%;
        }
        div.hamburger-menu{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 10%;
            height: 100%;
        }
        div.hamburger-menu input#menu__toggle {
            opacity: 0;
        }
        div.hamburger-menu input#menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
        }
        div.hamburger-menu input#menu__toggle:checked + .menu__btn > span::before {
            top: 0;
        
            transform: rotate(0deg);
        }
        div.hamburger-menu input#menu__toggle:checked + .menu__btn > span::after {
            top: 0;
        
            transform: rotate(90deg);
        }
        div.hamburger-menu input#menu__toggle:checked ~ ul.menu__box {
            right: 0 !important;
            display: flex;
        }
        div.hamburger-menu label.menu__btn {
            position: absolute;
            z-index: 1;
        
            width: 40px;
            height: 26px;
        
            cursor: pointer;
        }
        div.hamburger-menu label.menu__btn > span,
        div.hamburger-menu label.menu__btn > span::before,
        div.hamburger-menu label.menu__btn > span::after {
            display: block;
        
            position: absolute;
        
            width: 100%;
            height: 5px;
        
            background-color: white;
        
            transition-duration: .25s;
        }
        div.hamburger-menu label.menu__btn > span::before {
            content: '';
            top: -16px;
        }
        div.hamburger-menu label.menu__btn > span::after {
            content: '';
            top: 16px;
        }
        div.hamburger-menu ul.menu__box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            display: none;
        
            position: absolute;
            top: 0;
            right: -100%;
        
            width: 300px;
            height: 100vh;
        
            margin: 0;
                    
            list-style: none;
        
            background-color: black;
        
            transition-duration: .25s;
        }
        div.hamburger-menu ul.menu__box li{     
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div.hamburger-menu ul.menu__box li:first-child{
            margin-top: 15%;
        }
        div.hamburger-menu ul.menu__box li.nav_listitem a{
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 100%;
        
            padding: 20px;
        
            color: white;
        
            font-family: 'Roboto', sans-serif;
            font-size: 200%;
        
            text-decoration: none;
            
            transition-duration: .25s;

            text-align: center;
        }
        .nav_listitem a::after{    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 7px;
            right: 0;
            bottom: 0;
            position: absolute;
            background: var(--pur);
            transition: 0.3s ease 0s, right 0.3s ease 0s;
            width: 0;
        }
        .nav_listitem a:hover:after { 
            width: 100%; 
        }
        li.contact_btn a::after{
            height: 0;
        }
    }
    @media screen and (max-width: 605px){
        .right{
            margin-left: 75px;
        }
        .burger{
            margin-right: 10px;
        }
        div.hamburger-menu ul.menu__box{
            width: 100%;
        }
        div.hamburger-menu input#menu__toggle:checked ~ ul.menu__box{
            position: fixed;
            z-index: 10;
        }
        div.hamburger-menu input#menu__toggle:checked ~ label{
            position: fixed;
            z-index: 11;
        }
    }
}
@layer Landing_Page{
    section.landing_page{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        position: relative;
        overflow: hidden;

        width: 100%;
        height: 100vh;

        background-color: black;
    }
    article.landing_page{
        width: 35%;
    }
    .landing_page figure{
        display: flex;
        align-items: end;

        width: 40%;
        height: 100%;


        overflow: hidden;
    }
    .landing_page figure img{
        width: 85%;

        filter: grayscale(100%);

        margin-bottom: -15%;

        z-index: 0;
    }
    .landing_page h1{
        width: 55%;

        font-family: var(--nadpis);
        font-size: 8rem;

        margin: 0;

        color: var(--white);

        text-transform: uppercase;
    }
    .landing_page span{
        display: block;
        margin-top: -20px;
        margin-bottom: 5%;
        content: "";
        width: 300px;
        height: 10px;
        background-color: var(--yellow);
        color: #F6EB14;
    }
    .landing_page strong{
        font-size: 2rem;
        font-family: var(--podnadpis);

        color: var(--white);
    }
    .landing_page .image{
        position: absolute;
        top: 150px;
        right: -150px;

        transform: rotateZ(12deg);

        overflow: hidden;
    }
    .landing_page .image img{
        width: 1200px;
    }
    @media screen and (max-width: 1184px){
        .landing_page figure{
            display: none;
        }
        .landing_page h1{
            text-align: center;
            width: 100%;
        }
        article.landing_page{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .landing_page .image{
            display: none;
        }
    }
    @media screen and (max-width: 391px){
        .landing_page h1{
            font-size: 7rem;
        }
    }
}
@layer Prace{
    section.praca{
        width: 100%;
        padding-top: 5%;

        background-color: var(--black);
    }
    article.praca{
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
    }
    .praca h2{
        font-family: var(--nadpis);
        font-size: 6.5rem;

        cursor: pointer;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
    }
    .praca span{
        width: 200px;
        content: "";
        height: 10px;
        background-color: var(--yellow);
        margin-top: -20px;
    }
    .praca h3{
        color: var(--yellow);

        font-family: var(--podnadpis);
        font-size: 2rem;
    }
    .praca aside{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
    }
    .praca .grid{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .praca .grid div{
        width: 25%;
        margin: 2%;
        position: relative;
    }
    .praca .grid div.last{
        width: 88%;
    }
    .praca .grid div img{
        width: 100%;
    }
    .praca .grid div .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        margin: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        background-color: rgba(0, 0, 0, 0.475);

        opacity: 0;

        cursor: pointer;

        transition: all .3s;
    }
    .grid .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        margin: 0;
    }
    .grid .wrapper div{
        width: 100%;    
    }
    .description h2{
        font-size: 1.5rem;
    }
    .description ol{
        width: 60%;

        padding: 0;
        margin: 0;
    }
    .description li{
        width: 100%;

        font-family: var(--text);
        font-size: .8rem;
        font-weight: bold;

        color: white;
    }
    .description p{
        width: 60%;

        font-family: var(--text);
        font-size: .8rem;
        font-weight: bold;

        text-align: left;

        color: white;
    }
    .praca .grid div:hover .description{
        opacity: 1;
    }
    .praca aside.vid{
        display: flex;
        width: 100%;
    }
    .praca aside.vid div{
        width: 40%;
    }
    .praca aside.vid div video{
        width: 100%;
    }
    @media screen and (max-width: 906px){
        .praca aside.vid{
            flex-direction: column;
            align-items: center;
        }
        .praca aside.vid div{
            width: 90%;
        }
    }
}
@layer O_mne{
    section.o_mne{
        display: block;

        width: 100%;
        padding-top: 2.5%;

        background-color: var(--black);
    }
    article.o_mne{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        margin: 10% 0;
    }
    .o_mne aside{
        width: 30%;
    }
    .o_mne aside h2{
        font-family: var(--nadpis);
        font-size: 7rem;

        margin: 0;

        color: var(--white);
    }
    article.o_mne aside span{
        display: block;
        width: 215px;
        content: "";
        height: 10px;
        background-color: var(--yellow);
        margin-top: -20px;
        margin-bottom: 20%;
    }
    article.o_mne aside p{
        width: 100%;

        font-family: var(--text);
        font-size: 1.5rem;

        text-align: justify;

        color: white;
    }
    .o_mne figure.ng{
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        width: 450px;
        height: 450px;

        border-radius: 50%;
        border: var(--white) solid 10px;

        background-color: var(--black);
    }
    .o_mne figure img.img{
        width: 80%;
    }
    @media screen and (max-width: 1336px){
        article.o_mne{
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }
        article.o_mne aside{
            width: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        article.o_mne figure{
            width: 40%;
            display: flex;
            justify-content: center;
        }
        article.o_mne aside span{
            margin-bottom: 2%;
        }
        .o_mne figure img.img{
            width: 80%;
        }
    }
    @media screen and (max-width: 475px){
        article.o_mne figure.ng{
            width: 150px;
            height: 150px;
        }
    }
}
@layer Zručnosti{
    .ruky{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .ruky h2{
        width: 100%;

        text-align: center;

        font-family: var(--nadpis);
        font-size: 7rem;

        margin: 0;

        color: var(--white);
    }
    .ruky span{
        display: block;
        width: 215px;
        content: "";
        height: 10px;
        background-color: var(--yellow);
        margin-top: -20px;
        align-self: center;
    }
    .ruky .wrapper{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .ruky aside{
        width: 40%;
        margin: 5% 0;
    }
    .ruky aside h4{
        font-family: var(--podnadpis);
        font-size: 1.5rem;

        margin: 0;

        color: var(--white);
    }
    .ruky aside .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .ruky .container{
        width: 75%;
        height: 20px;

        margin-right: 5%;
        border: var(--yellow) 2px solid;
        padding: 0;
    }
    .ruky figure{ 
        display: flex;
        justify-content: center;
        align-items: center;

        width: 20%;
        margin: 0;
        padding: 0;
    }
    .ruky aside .container .meter{
        width: 80%;
        height: 100%;
        background-color: var(--yellow);
    }
    .ruky aside:nth-child(2) .container div.meter{
        width: 90%;
    }
    .ruky aside:nth-child(3) .container div.meter{
        width: 85%;
    }
    .ruky aside:nth-child(4) .container div.meter{
        width: 70%;
    }
    .ruky aside:nth-child(5) .container div.meter{
        width: 85%;
    }
    @media screen and (max-width: 845px){
        .ruky aside{
            width: 100%;
        }
        .ruky > .wrapper{
            justify-content: center;
            flex-direction: column;
        }
        .ruky h2{
            font-size: 5.5rem;
        }
    }
}
@layer sluzby{
    section.sluzby{
        width: 100%;
        margin: 10% 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article.sluzby{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        margin-bottom: 10%;
    }
    .sluzby h2{
        width: 100%;

        text-align: center;

        font-family: var(--nadpis);
        font-size: 7rem;

        margin: 0;

        color: var(--white);
    }
    .sluzby span{
        display: block;
        width: 215px;
        content: "";
        height: 10px;
        background-color: var(--yellow);
        margin-top: -20px;
        align-self: center;
    }
    .sluzby .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;

        margin-top: 5%;
    }
    .sluzby .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 80%;


        position: relative;
    }
    .sluzby figure{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;

        padding: 0;
        margin: 0;
    }
    .sluzby figure img{
        width: 100px;
        height: 100px;

        border: white solid 5px;
        border-radius: 50%;
        margin-right: -70px;

        position: absolute;
    }
    .sluzby .h4{
        width: calc(100% - 60px);

        font-family: var(--podnadpis);
        font-weight: bold;
        font-size: 1.5rem;

        text-align: center;

        color: white;

        padding: 7%;

        border: var(--white) solid 5px;
        border-start-end-radius: 1000px;
        border-end-end-radius: 1000px;
    }
    .sluzby a{
        display: block;

        width: 30%;

        margin: 2%;

        text-decoration: none;
    }
    .sluzby h4{
        padding: 0;
        margin: 0;
    }
    @media screen and (max-width: 1200px){
        .sluzby aside{
            width: 80%;
        }
    }
    @media screen and (max-width: 992px){
        .sluzby a{
            width: 60%;
        }
        .sluzby .wrapper figure img{
            position: relative;
            height: 100%;
            aspect-ratio: 1 / 1;
        }
    }
    @media screen and (max-width: 593px){
        .sluzby a{
            width: 80%;
            border-radius: 0;
        }
        .sluzby .wrapper figure img {
            height: 35px;
            width: 35px;
        }
        .sluzby .h4{
            font-size: 1rem;
        }
    }
    .tvorba{
        width: 100%;
        height: 80vh;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .tvorba .desc{
        width: 40%;
    }
    .tvorba .desc .heading{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .tvorba .desc .heading figure{
        width: 60px;
        height: 100%;

        padding: 0;
        margin: 0;
    }
    .tvorba .desc .heading figure img{
        width: 60px;
        height: 60px;
    }
    .tvorba .desc h3{
        font-family: var(--podnadpis);
        font-size: 2rem;
        font-weight: bold;

        margin-left: 3%;

        color: var(--yellow);
    }
    .tvorba .desc p{
        font-family: var(--text);
        font-size: 1.2rem;

        text-align: justify;

        color: white;
    }
    .tvorba .price{
        width: 20%;
    }
    .tvorba .price div{
        width: 100%;


        box-sizing: border-box;
        padding: 5%;
        border: var(--yellow) solid 4px;
        border-radius: 40px;
    }
    .tvorba .price h3{
        font-family: var(--podnadpis);
        font-size: 2rem;
        font-weight: bold;

        text-align: center;

        margin-left: 3%;

        color: var(--white);
    }
    .tvorba .price div p{

        font-family: var(--text);
        font-size: 1.4rem;

        text-align: justify;

        color: white;
    }
}
@layer footer{
    footer section{
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
    }
    footer aside{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 15%;
    }
    footer p{
        width: 20%;

        display: flex;

        font-family: var(--text);
        font-size: 1.2rem;

        color: var(--white);
    }
    footer a{
        display: block; 
        color: white;
    }
    @media screen and (max-width: 859px){
        footer section{
            flex-direction: column;
        }
        footer aside{
            width: 100%;
            justify-content: center;
        }
        footer aside a{
            margin-left: 2%;
            margin-right: 2%;
        }
        footer p{
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }
}
#fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
}

#fullscreen-overlay .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}